<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
<div class="jumbotron">

    <p><h1>Welcome to <%= title %> Me Page</h1></p>
    <p><img src="img/portrait.png" alt="portrait" style: width="320px"; height="480px"></p>
    <p>My name is Wenjie Zhou.</p> 
    <p>I am currently a software engineering technology student at Centennial College.</p>
    <p>Skilled with: Java, C#, SQL, NoSQL, QA, Python, Microsoft .NET, Oracle, JavaScript, Angular, Node.js, Kotlin, Algorithms, and UML</p>
    <p>Experienced with Eclipse, IDEA, Visual Studio, Visual Studio Code, SQL Developer, MongoDB, Spyder, PyCharm, Android Studio, Git, and Visual Paradigm</p>
    <a href="/public/assets/Resume.pdf">Download Resume</a>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>