<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <h2>Contact Information</h2>
    <p>Mobile: (647) 523-9086</p>
    <p>Email: wzhou56@my.centennialcollege.ca</p>
    <p>Address: 650 Sheppard Ave E, Toronto, ON M2K 3E4</p>

    <form action="/" onsubmit="showMessage()">
        <h2>Send Me a Message</h2>
        <p class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>
        </p>
        <p class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>
        </p>
        <p class="form-group">
            <label for="contact">Contact Number:</label>
            <input type="tel" id="contact" name="contact" required>
        </p>
        <p class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
        </p>
        <p class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
        </p>
        <button type="submit">Send Message</button>
    </form>
    <script>
        function showMessage()
        {
            alert("The message was sent successfully!")
        }
    </script>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>