<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
<div class="jumbotron">

    <h1>Welcome to my <%= title %> Page</h1>
    <p>This is Wenjie's Home page! Thank you for visiting!</p>
    <p>Mission Statement: To become a software developer that could change the world.</p>
    <p><button onclick="window.location.href='/about'">About Me</button></p>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>