<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <h2>Projects Lists</h2>
    <p>--- Project 1: EasyRecordSystem ---</p>
    <img src="/img/EasyRecordSystem1.png" alt="EasyRecordSystem1" style: width="427px"; height="257px">
    <img src="/img/EasyRecordSystem2.png" alt="EasyRecordSystem2" style: width="427px"; height="257px">
    <img src="/img/EasyRecordSystem3.png" alt="EasyRecordSystem3" style: width="427px"; height="257px">
    <p>
        This was a personal project I made during the spring break. The main purpose of the project is working as a family expenditure ledger for my wife.
        <br>
        The project was developed using JavaFX, JDBC, and SQL developer. I coded PL/SQL procedures in Oracle Database.
    </p>

    <p>--- Project 2: SmartPhoneStore System ---</p>
    <img src="/img/SmartPhoneStore1.png" alt="SmartPhoneStore1" style: width="427px"; height="257px">
    <img src="/img/SmartPhoneStore2.png" alt="SmartPhoneStore2" style: width="427px"; height="257px">
    <img src="/img/SmartPhoneStore3.png" alt="SmartPhoneStore3" style: width="427px"; height="257px">
    <p>
        This was a three members group project in my "Advanced Database Concepts" class. I was the frontend designer and PL/SQL package developer. 
        <br>
        The project was developed using JavaFX, JDBC, and SQL developer. Since we developed numerous functions, procedures, and triggers, we decided to include all methods into a package.
    </p>

    <p>--- Project 3: Course Registration App ---</p>
    <img src="/img/CourseRegistrationApp.png" alt="CourseRegistrationApp" style: width="419px"; height="699px">
    <p>
        This is an individual lab project in my "Mobile App Development" class.   
        <br>
        The project was developed in Android Studio using Kotlin. It has features of Spinner, Checkbox, RadioButton, Toast, and so on. 
    </p>

    <h2>End of Project Show</h2>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>  