<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <p>Backend Programming</p>
    <p>Frontend Programming</p>
    <p>Web Development</p>
    <p>Mobile Apps Development</p>
    <p>Database Implementation</p>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>